
html {
    height: 100%;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .mitte {
    background-color: blanchedalmond;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 50%;
} */

.mitte {
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
}


.eins {
    height: 150px;
    width: 150px;
    background-color: #2e51b1;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 530px;
}

.zwei {
    height: 150px;
    width: 150px;
    background-color: #2e51b1;
    position: absolute;
    border-radius: 10px;
    left: 690px;
    }

.drei {
    height: 150px;
    width: 150px;
    background-color: #2e51b1;
    position: absolute;
    border-radius: 10px;
    left: 850px;
}

.vier {
    height: 150px;
    width: 150px;
    background-color: #d12f80;
    position: absolute;
    border-radius: 10px;
    left: 530px;
    top: 165px;
}

.fünf {
    height: 150px;
    width: 150px;
    background-color:#d12f80;;
    position: absolute;
    border-radius: 10px; 
    top: 165px;
    left: 690px;
}

.sechs {
    height: 150px;
    width: 150px;
    background-color: #d12f80;;
    position: absolute;
    border-radius: 10px;
    left: 850px;
    top: 165px;
}

.sieben {
    height: 150px;
    width: 150px;
    background-color: #d12f80;;
    position: absolute;
    border-radius: 10px;
    left: 530px;
    top: 322px;
}

.acht {
    height: 150px;
    width: 150px;
    background-color: #d18b2f;;
    position: absolute;
    border-radius: 10px; 
    top: 322px;
    left: 690px;
}

.neun {
    height: 150px;
    width: 150px;
    background-color: #d18b2f;
    position: absolute;
    border-radius: 10px;
    left: 850px;
    top: 322px;
}

.play {
    position: absolute; 
    left: 690px;
    top: 470px;

}